@charset "UTF-8";

@font-face {
    font-family: "First-Font";
    src: url(../font/Braveold-Bold.otf);
}

@font-face {
    font-family: "Second-Font";
    src: url(https://fonts.google.com/specimen/Montserrat);
}

body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card {
    border-radius: 10px;
    display: flex;
    max-width: 620px;
    background-color: white;
    margin: 0 1rem;
}

.img {
    width: 50%;
}

.img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.conteudo {
    width: 50%;
    padding: 2rem;
}

.conteudo .title {
    color: hsl(212, 21%, 14%);
    padding-right: 2rem;
    margin-bottom: 1.75rem;
}

.conteudo .descricaoProduto {
    font-family: "Second-Font";
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    line-height: 22px;
    margin-bottom: 1.75rem;
}

.perfume {
    /* font */
    letter-spacing: 7px;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 1.75rem;
}

.precos {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.75rem;
}

.precos .precoAtual {
    color: hsl(158, 36%, 37%);
}

.precos .precoAnterior {
    font-family: "Second-Font";
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.conteudo #btn {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: hsl(158, 36%, 37%);
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Second-Font";
    padding: 1rem 2rem;
    border-radius: 10px;
    cursor: pointer;
}

.precos #btn:hover {
    background-color: hsl(157, 51%, 11%);
}

@media only screen and (max-width: 576px) {
    .card {
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-direction: column;
    }

    .img {
        width: 100%;
        height: 40%;
    }

    .img img {
        content: url(../images/image-product-mobile.jpg);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .conteudo {
        width: 100%;   
    }

    .conteudo .title {
        padding-right: 0;
    }
}